<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="DbKatse" value="LiiteriKatse" />
    <add key="DbHakemisto" value="LiiteriHakemisto" />

    <!-- This key is needed when initializing log4net using AssemblyInfo.cs -->
    <add key="log4net.config" value="log4net.config" />
  </appSettings>
  <connectionStrings>
    <add name="urbanPlanningDB" connectionString="data source=vps009.sitois.local\kotidw_dev;persist security info=True;user id=liiteri;password=li7jbbGG14;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpConfig"
                 portSharingEnabled="true"
                 closeTimeout="00:00:10"
                 openTimeout="00:00:10"
                 receiveTimeout="00:00:10"
                 sendTimeout="00:00:10"
                 transferMode="Streamed"
                 maxReceivedMessageSize="67108864">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AsyncStreaming">
          <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="netTcpBinding" scheme="net.tcp" bindingConfiguration="NetTcpConfig"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true" />
    <services>
      <service name="LiiteriUrbanPlanningCore.Controllers.ContactsController"
               behaviorConfiguration="MyBehaviour">
        <endpoint address=""
                  behaviorConfiguration="AsyncStreaming"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpConfig"
                  contract="LiiteriUrbanPlanningCore.Controllers.IContactsController"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="LiiteriUrbanPlanningCore.Controllers.MarkingsController"
               behaviorConfiguration="MyBehaviour">
        <endpoint address=""
                  behaviorConfiguration="AsyncStreaming"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpConfig"
                  contract="LiiteriUrbanPlanningCore.Controllers.IMarkingsController"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="LiiteriUrbanPlanningCore.Controllers.PlansController"
               behaviorConfiguration="MyBehaviour">
        <endpoint address=""
                  behaviorConfiguration="AsyncStreaming"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpConfig"
                  contract="LiiteriUrbanPlanningCore.Controllers.IPlansController"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="LiiteriUrbanPlanningCore.Controllers.PlanSummaryController"
               behaviorConfiguration="MyBehaviour">
        <endpoint address=""
                  behaviorConfiguration="AsyncStreaming"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpConfig"
                  contract="LiiteriUrbanPlanningCore.Controllers.IPlanSummaryController"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="LiiteriUrbanPlanningCore.Controllers.RegionsController"
               behaviorConfiguration="MyBehaviour">
        <endpoint address=""
                  behaviorConfiguration="AsyncStreaming"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpConfig"
                  contract="LiiteriUrbanPlanningCore.Controllers.IRegionsController"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="LiiteriUrbanPlanningCore.Controllers.VersionController"
               behaviorConfiguration="MyBehaviour">
        <endpoint address=""
                  behaviorConfiguration="AsyncStreaming"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpConfig"
                  contract="LiiteriUrbanPlanningCore.Controllers.IVersionController"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Error,ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="LFFServicesHost.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>