<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>

    <!-- Database definitions are only needed if UseWCF != true -->
    <add key="DbKatse" value="LiiteriKatse" />
    <add key="DbHakemisto" value="LiiteriHakemisto" />

    <!-- If set to true, uses LiiteriUrbanPlanningService -->
    <add key="UseWCF" value="false" />
  </appSettings>
  <!--
  Connection strings are only needed if UseWCF != true
  -->
  <connectionStrings>
    <add name="urbanPlanningDB" connectionString="data source=vps009.sitois.local\kotidw_dev;persist security info=True;user id=liiteri;password=li7jbbGG14;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxUrlLength="4096" maxQueryStringLength="100000"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="100000" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
  The entire system.serviceModel configuration is only needed if UseWCF == true
  -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceBinding"
                 portSharingEnabled="true"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 receiveTimeout="00:30:00"
                 sendTimeout="00:30:00"
                 transferMode="Streamed"
                 maxReceivedMessageSize="67108864">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--
      endpoints should be named "UrbanPlanningServiceEndpoint" with the
      appropriate contract
      -->
      <endpoint address="net.tcp://localhost/LiiteriUrbanPlanningService/ContactsService.svc"
                binding="netTcpBinding"
                bindingConfiguration="ServiceBinding"
                contract="LiiteriUrbanPlanningCore.Controllers.IContactsController"
                name="UrbanPlanningServiceEndpoint" />
      <endpoint address="net.tcp://localhost/LiiteriUrbanPlanningService/MarkingsService.svc"
                binding="netTcpBinding"
                bindingConfiguration="ServiceBinding"
                contract="LiiteriUrbanPlanningCore.Controllers.IMarkingsController"
                name="UrbanPlanningServiceEndpoint" />
      <endpoint address="net.tcp://localhost/LiiteriUrbanPlanningService/PlansService.svc"
                binding="netTcpBinding"
                bindingConfiguration="ServiceBinding"
                contract="LiiteriUrbanPlanningCore.Controllers.IPlansController"
                name="UrbanPlanningServiceEndpoint" />
      <endpoint address="net.tcp://localhost/LiiteriUrbanPlanningService/PlanSummaryService.svc"
                binding="netTcpBinding"
                bindingConfiguration="ServiceBinding"
                contract="LiiteriUrbanPlanningCore.Controllers.IPlanSummaryController"
                name="UrbanPlanningServiceEndpoint" />
      <endpoint address="net.tcp://localhost/LiiteriUrbanPlanningService/RegionsService.svc"
                binding="netTcpBinding"
                bindingConfiguration="ServiceBinding"
                contract="LiiteriUrbanPlanningCore.Controllers.IRegionsController"
                name="UrbanPlanningServiceEndpoint" />
      <endpoint address="net.tcp://localhost/LiiteriUrbanPlanningService/VersionService.svc"
                binding="netTcpBinding"
                bindingConfiguration="ServiceBinding"
                contract="LiiteriUrbanPlanningCore.Controllers.IVersionController"
                name="UrbanPlanningServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>