<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbKatse" value="LiiteriKatse" />
    <add key="DbHakemisto" value="LiiteriHakemisto" />
  </appSettings>
  <connectionStrings>
    <add name="urbanPlanningDB" connectionString="data source=vps009.sitois.local\kotidw_dev;persist security info=True;user id=liiteri;password=li7jbbGG14;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>